In [2]:
import numpy as np
import pandas as pd

In [3]:
ser=pd.Series(np.random.rand(35))

In [4]:
type(ser)

pandas.core.series.Series

In [5]:
ser

0     0.658181
1     0.321950
2     0.575048
3     0.843049
4     0.644061
5     0.843071
6     0.590981
7     0.706966
8     0.911273
9     0.401969
10    0.164954
11    0.400657
12    0.628320
13    0.522890
14    0.434331
15    0.511984
16    0.879613
17    0.493769
18    0.606756
19    0.411400
20    0.026422
21    0.327056
22    0.560523
23    0.230499
24    0.203710
25    0.884968
26    0.950370
27    0.201842
28    0.074584
29    0.784749
30    0.313396
31    0.804868
32    0.552714
33    0.400846
34    0.286724
dtype: float64

In [6]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [8]:
newdf.head()

          0         1         2         3         4
0  0.409382  0.094650  0.273500  0.724839  0.033768
1  0.823409  0.357506  0.055128  0.265273  0.008846
2  0.314450  0.689743  0.773020  0.758607  0.225985
3  0.953147  0.593030  0.079273  0.088944  0.027267
4  0.847229  0.604065  0.011600  0.211505  0.814884

In [9]:
newdf.tail()

            0         1         2         3         4
329  0.257811  0.234869  0.961062  0.762032  0.225811
330  0.662765  0.661433  0.398514  0.765491  0.555305
331  0.116057  0.656433  0.129175  0.749635  0.899217
332  0.617367  0.174110  0.932883  0.119646  0.367340
333  0.915747  0.823366  0.640198  0.721345  0.929275

In [10]:
type(newdf)

pandas.core.frame.DataFrame

In [11]:
newdf.describe

<bound method NDFrame.describe of             0         1         2         3         4
0    0.409382  0.094650  0.273500  0.724839  0.033768
1    0.823409  0.357506  0.055128  0.265273  0.008846
2    0.314450  0.689743  0.773020  0.758607  0.225985
3    0.953147  0.593030  0.079273  0.088944  0.027267
4    0.847229  0.604065  0.011600  0.211505  0.814884
..        ...       ...       ...       ...       ...
329  0.257811  0.234869  0.961062  0.762032  0.225811
330  0.662765  0.661433  0.398514  0.765491  0.555305
331  0.116057  0.656433  0.129175  0.749635  0.899217
332  0.617367  0.174110  0.932883  0.119646  0.367340
333  0.915747  0.823366  0.640198  0.721345  0.929275

[334 rows x 5 columns]>

In [12]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.511591    0.487483    0.490812    0.513417    0.506417
std      0.281683    0.274003    0.291825    0.281565    0.290475
min      0.005206    0.004519    0.003140    0.003185    0.000904
25%      0.275882    0.268266    0.236328    0.273023    0.246507
50%      0.507766    0.481533    0.502175    0.537844    0.508494
75%      0.749338    0.711313    0.746716    0.738356    0.760579
max      0.998287    0.998782    0.997110    0.998963    0.998399

In [13]:
newdf[0][0]="ashish Kumar SIngh"

In [14]:
newdf

                      0         1         2         3         4
0    ashish Kumar SIngh  0.094650  0.273500  0.724839  0.033768
1              0.823409  0.357506  0.055128  0.265273  0.008846
2               0.31445  0.689743  0.773020  0.758607  0.225985
3              0.953147  0.593030  0.079273  0.088944  0.027267
4              0.847229  0.604065  0.011600  0.211505  0.814884
..                  ...       ...       ...       ...       ...
329            0.257811  0.234869  0.961062  0.762032  0.225811
330            0.662765  0.661433  0.398514  0.765491  0.555305
331            0.116057  0.656433  0.129175  0.749635  0.899217
332            0.617367  0.174110  0.932883  0.119646  0.367340
333            0.915747  0.823366  0.640198  0.721345  0.929275

[334 rows x 5 columns]

In [15]:
type(newdf)

pandas.core.frame.DataFrame

In [16]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [17]:
newdf[0][0]=0.333

In [18]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [19]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int32', length=334)

In [20]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [21]:
newdf.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [22]:
newdf.t

AttributeError: 'DataFrame' object has no attribute 't'